body.fondo {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to bottom, #0099ff, #66ccff);
  color: white;
  text-align: center;
}

.contenedor {
  margin-top: 80px;
  background: rgba(255,255,255,0.15);
  padding: 30px;
  border-radius: 20px;
  display: inline-block;
}

h1 {
  font-size: 40px;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.btn-personal {
  background: gold;
}

.btn-volver {
  background: white;
}

header {
  padding: 20px;
}

.panel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.caja {
  background: rgba(255,255,255,0.2);
  padding: 20px;
  border-radius: 20px;
  width: 320px;
}

input, select {
  width: 90%;
  padding: 10px;
  margin: 6px;
  border-radius: 10px;
  border: none;
}

#listaClientes, #resultadoBusqueda {
  text-align: left;
  padding: 10px;
}